a:link, a:visited {
    text-decoration: none;
    color: black;
    display: inline-block;
}

body {
    background-color: #535679;
    margin: 0 0 0 0;
    border-width: 0;
    padding: 0 0 0 0;
    overflow: hidden;
}

.logo {
    border-width: 0;
    text-align: center;
    width: 100px;
}

.dock {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 64px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-width: 0;
}


#pane {
    position: absolute;
    width: 45%;
    height: 45%;
    top: 20%;
    left: 20%;
    margin: 0;
    padding: 0;
    z-index: 99;
    border: 2px #000;
    background: #cccccc;
}

#title {
    font-family: helvetica;
    background: black;
    color: white;
    font-size: 12px;
    height: 22px;
    margin-top: 2px;
    line-height: 20px;
    text-align: center;
}

#ghostpane {
    background: #999;
    width: 45%;
    height: 45%;
    top: 20%;
    left: 20%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 98;
    border: 2px #000;
    display: flex;
    justify-content: center;
}

#apps {
    position: absolute;
    bottom: 0;
    left: 0;
  }

#text {
    font-family: Serif; 
    float: center;
    background-color: white;
    width: 99%;
    height: 92%;
    position: absolute;
    padding: 2px;
    margin: 2px;
}

#menu{
    position: absolute;
    left: 0px;
    top: 0px;
    width:250px;
    height:auto;
    border:1px solid black;
    background-color: #000;
}

.item{
    background-color: #9a9a9a;
    height: 16px;
    padding: 1px;
    padding-left: .8em;
    padding-top: .2em;
    margin: 1px;
    border:1px;
    border-style: solid;
    border-color: #ffffff #555555 #555555 #ffffff;
    font-family: "Helvetica";
    font-size: 10pt;
}

.pad{
    border-style: outset;
    background-color: #000;
    height: 18px;
    border:2px;
    font-size: 11pt;
    font-family:'helvetica-bold';
    padding-left: .5em;
    padding-top: .3em;
    color:#fff;
    border-style: solid;
    border-color: #ffffff #555555 #555555 #ffffff;
}
.top{top:0;}
.left{left:0;}
.right{margin:3; right:0; position:absolute;}
