a:link,
a:visited {
    text-decoration: none;
    color: black;
    display: inline-block;
    cursor: default;
    font-smooth: never;
    -webkit-font-smoothing: none;
}
body {
    background-color: #434165;
    margin: 0 0 0 0;
    border-width: 0;
    padding: 0 0 0 0;
    overflow: hidden;
}
.logo {
    border-width: 0;
    text-align: center;
    width: 100px;
}
.dock {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 64px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-width: 0;
}
#title {
    text-align: center;
    background-color: #000;
    height: 18px;
    border: 2px;
    font-size: 10pt;
    font-family: 'helvetica-bold';
    padding-left: .5em;
    padding-top: .3em;
    color: #fff;
    border-style: solid;
    border-color: #ffffff #555555 #555555 #ffffff;
    font-smooth: never;
    -webkit-font-smoothing: none;
}
#apps {
    position: absolute;
    bottom: 0;
    left: 0;
}
#recycler {
    position: absolute;
    bottom: 0;
    right: 0;
}
#text {
    font-family: Serif;
    background-color: #9a9a9a;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    left-margin: 20px;
    font-smooth: never;
    -webkit-font-smoothing: none;
}
#menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 190px;
    height: auto;
    border: 1px solid black;
    background-color: #000;
}
.item {
    background-color: #9a9a9a;
    height: 16px;
    padding: 1px;
    padding-left: .2em;
    padding-top: .2em;
    margin: 1px;
    border: 1px;
    border-style: solid;
    border-color: #ffffff #555555 #555555 #ffffff;
    font-family: "Helvetica";
    font-size: 10pt;
}
.pad {
    border-style: outset;
    background-color: #000;
    height: 16px;
    border: 1px;
    font-size: 10pt;
    font-family: 'helvetica-bold';
    padding-left: .5em;
    padding-top: .3em;
    color: #fff;
    border-style: solid;
    border-color: #ffffff #555555 #555555 #ffffff;
}
.filewindowtitle {
    border-style: outset;
    text-align: center;
    background-color: #000;
    height: 16px;
    border: 1px;
    font-size: 10pt;
    font-family: 'helvetica-bold';
    padding-left: .5em;
    padding-top: .3em;
    color: #fff;
    border-style: solid;
    border-color: #ffffff #555555 #555555 #ffffff;
}
.top {
    top: 0;
}
.left {
    left: 0;
}
.right {
    margin: 3;
    right: 0;
    position: absolute;
}
body {
    overflow: hidden;
}
#pane {
    position: absolute;
    width: 45%;
    height: 45%;
    top: 18px;
    left: 18px;
    margin: 0;
    padding: 0;
    z-index: 99;
    border: none;
    background: #c4c4c4;
    min-width: 190px;
    min-height: 100px;
    max-width: 180px;
    max-height: 136px;
}
#ghostpane {
    background: #000;
    opacity: 0;
    width: 45%;
    height: 45%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 98;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
#stickie {
    font-family: helvetica;
    font-size: 11px;
    position: absolute;
    width: 200px;
    height: 100px;
    top: 20%;
    left: 20%;
    margin: 10px;
    top-margin: 10px;
    padding: 10px;
    z-index: 99;
    border: 4px #d1a61b;
    background: #ffff8f;
    min-width: 300px;
    min-height: 100px;
    max-width: 450px;
    max-height: 550px;
}
.dblclick {
    position: relative;
    /* So z-index works later, but no surprises now */
    /* background: blue; Uncomment to test coverage */
}
.dblclick + span {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 103%;
    /* Gotta do this instead of right: 0; */
    
    bottom: -1px;
    z-index: 1;
    /* background: red; Uncomment background property to test coverage */
}
.dblclick + span:active {
    left: -9999px;
}
.dblclick:hover {
    z-index: 2;
}
.btn {
    font-family: 'helvetica-bold';
    font-size: 12px;
    margin-left: 5px;
    padding: 3px;
    background: #9a9a9a;
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    display: inline-block;
    border-color: #ffffff #555555 #555555 #ffffff;
    text-decoration: none;
    bottom: 4px;
    line-height: 18px;
    width: 55px;
    text-align: center;
}
.fileWindow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: none;
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
}
.fileWindow:target {
    opacity: 1;
    pointer-events: auto;
}
.fileWindow > div {
    width: 500;
    height: 330;
    position: relative;
    margin: 10% auto;
    background: #9a9a9a;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    border-color: #ffffff #555555 #555555 #ffffff;
}
.center {
    margin: 0 auto;
    width: 100px;
}
.right {
    right: 0px;
}
.inner {
    position: relative;
    border: 1.5px;
    border-radius: .2px;
    border-style: solid;
    border-color: #555555 #ffffff #ffffff #555555;
    padding: 10px;
    width: 90%;
    display: block;
    margin-left: 20px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.dl {
    border-radius: 9.2px;
    border: none;
    background: #fff;
    padding: 10px;
    width: 66px;
    height: 50px;
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
}
